/*inports*/
@import url(https://fonts.googleapis.com/css?family=Montserrat|Poppins);


*{
    margin: 0 auto;
}
.maincontainer{
    margin-top: 50px;
}
h1{
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: normal;
    text-transform: uppercase;
}
.image{
    text-align: center;
}
.navbar-header{
    float: right!important;
}